body{
    background-color:lightgray;
}
.a{
    color:olivedrab;
    font-weight:bolder;
    float:left;
    font-family:Helvetica;
    font-size:23px;
    text-shadow:2px 3px whitesmoke;
}
.b{
    color:darkblue;
    font-style:oblique;
    font-weight:lighter;
    font-size:17px;
}
h4{
    color:red;
}
h2{
    font-size:35px;
    font-family:Helvetica;
}